.mapContainer{
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

.info{
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  z-index: 99;
  padding: 8px;
  font-weight: 600;
  color: white;
}